<div class="container">
    <div class="row">
        <div class="col-12" style="margin:10px">
            <div class="row">
                <div class="col-md-2">
                    <label class="heading">Notes</label>
                </div>
                <div class="col-md-10 text-end">
                    <input type="button" class="btn btn-default logoutClass" value="Logout"
                        (click)="funNavigatetoLogin();" />
                </div>
            </div>
            <hr class="horizontal-dotted" />
            <div class="row" style="height:450px">
                <div class="col-md-3 vertical-dotted">
                    <div *ngFor="let list of notesList">
                        <div class="notes-section">
                            <div class="row">
                                <div class="col-10">
                                    <div>
                                        <h2>{{list.title}}</h2>
                                    </div>
                                    <div>{{list.desc}}</div>
                                </div>
                                <div class="col-2">
                                    <div class="close-icon" title="Close" (click)="funDelRec(list)">x</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div>
                        <label>Title: <span class="mandatory">*</span></label>
                    </div>
                    <div>
                        <input type="text" [(ngModel)]="txt_title" class="form-control">
                    </div>
                    <div style="height:10px"></div>
                    <div>
                        <label>Body: <span class="mandatory">*</span></label>
                    </div>
                    <div>
                        <textarea class="col-12" rows="10" [(ngModel)]="txt_desc"></textarea>
                    </div>
                    <div style="height:10px"></div>
                    <div class="text-end">
                        <input type="button" class="btn btn-success" value="Save" [disabled]="!(txt_title && txt_desc)" (click)="funSaveNotes();" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>